<!DOCTYPE html>
<html>
<head>
    <title>Insert User</title>
</head>
<body>
    <h1>Insert User Dni</h1>
    <form id="user-form">

        <label for="dni">Dni:</label>
        <input type="number" name="dni" id="dni" required><br>

        <label for="nombre">nombre:</label>
        <input type="text" name="nombre" id="nombre" required><br>

        <label for="apellido_paterno">apellido_paterno:</label>
        <input type="text" name="apellido_paterno" id="apellido_paterno" required><br>
        
        <label for="apellido_materno">apellido_materno:</label>
        <input type="text" name="apellido_materno" id="apellido_materno" required><br>

        <button type="submit" id="submit-button">Insert User</button>
    </form>

    <script>
        // Escuchar el evento de envío del formulario
        document.getElementById("user-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            // Obtener los valores de los campos del formulario

            var dni = document.getElementById("dni").value;
            var name = document.getElementById("nombre").value;
            var apellido_pat = document.getElementById("apellido_paterno").value;
            var apellido_mat = document.getElementById("apellido_materno").value;


            // Crear un objeto JSON con los valores

            var dniData = {
                "dni": dni,
                "name": name,
                "ape_pat": apellido_pat,
                "ape_mat": apellido_mat
            }


            // Realizar una solicitud POST con fetch y enviar los datos en formato JSON
            fetch("/dni/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(dniData)
            })
            .then(response => response.json())
            .then(data => {
                // Manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
                alert(data.message);
            })
            .catch(error => {
                // Manejar errores, como mostrar un mensaje de error
                alert("Error: " + error);
            });
        });
    </script>
</body>
</html>